<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsl="http://www.w3.org/2001/XMLSchema-instance"
	xsl:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Hello, World! Application</display-name>
	<description>
		This is a simple web application
	</description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ilovespring.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>CategoriesServlet</servlet-name>
		<servlet-class>kickstarter.servlets.CategoriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoriesServlet</servlet-name>
		<url-pattern>/categories</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>kickstarter.servlets.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>


	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error-404.jsp</location>
	</error-page>

</web-app> 